<nav class="bottom-nav">
  <a class="nav-item" routerLink="/home">
    <img src="../../assets/home.png">
    <p>首页</p>
  </a>
  <a class="nav-item" routerLink="/catalog">
    <img src="../../assets/home.png">
    <p>分类</p>
  </a>
  <a class="nav-item" routerLink="/topic">
    <img src="../../assets/home.png">
    <p>内容</p>
  </a>
  <a class="nav-item" routerLink="/cart">
    <img src="../../assets/home.png">
    <p>购物车</p>
  </a>
  <a class="nav-item" routerLink="/user">
    <img src="../../assets/home.png">
    <p>我的</p>
  </a>
</nav>