.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 1px solid #e2e2e2;
    z-index: 999;
    display: flex;
    align-items: center;
}
.nav-item {
    width: 20%;
    text-align: center;
}
.nav-item p {
    font-size: 12px;
    margin: 0;
}
.nav-item img {
    height: 22px;
}